@use "sass:math";

@mixin row() {
    display: flex;
    flex-direction: row;
    margin-left: -$grid-gap;
    width: calc(100% + $grid-gap);
}

//width of an element from column span
@mixin span-columns ($mobile: $grid-columns, $tablet: $mobile, $desktop: $tablet) {
    margin-left: $grid-gap;
    width: col-width($mobile);

    @if $tablet != $mobile {
        @include media(tablet) {
            width: col-width($tablet);
        }
    }

    @if $desktop != $tablet {
        @include media(desktop) {
            width: col-width($desktop);
        }
    }
    
}

@function col-width($cols) {
    @return calc($cols/$grid-columns * 100% - $grid-gap);
}