
.arrow {
    $size : 5px;
    border: solid black;
    border-width: 0 em($size) em($size) 0;
    display: inline-block;
    padding: em($size);

    &.left{
        margin-right: em(-$size);
    }

    &.right{
        margin-left: em(-$size);
    }
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  