.accordion {
    width: 100%;
}

.accordion__item {
}

.accordion__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    i{
        margin: 0 1em;
    }
}

.accordion__pane {
    width: 100%;
    display: flex;
    flex-direction: column;
}