@mixin breadcrumbs ($separator) {
    padding: 1em 0;
    
    ul, ol {
        list-style-type: none;
        padding: 0;

        .crumb {
            display: inline-block;

            a::afer {
                content: $separator;
                display: inline-block;
                font-size: 80%;
                font-weight: bold;
                padding: 0 0.2em;
            }
        }
    }
}

.breadcrumbs {
    @include breadcrumbs($separator: '>');
    border-bottom: 1px solid $color-brand-darker;
}