.carousel {
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    ol{
        @include list-no-decoration();
        transition: transform 400ms ease-in-out;
    }
}

.carousel__button {
    @include button(black, rgba(255, 255, 255, 0), $hover-color: rgba(255, 255, 255, 0.681), $active: false);
    top: 0;
    flex-grow: 0;
    padding: 0.5em;
    position: absolute;
    width: 3rem;
    height: 4rem;
    margin: 7rem 1rem;
    z-index: get-z-index(text-overlay);

    &--prev {
        left: 0;
    }

    &--next {
        right: 0;
    }
}

.carousel__item {
    display: inline-block;
    height: em($height-top-banner);
    width: 100%;
    margin: 0;
}