.form {
    display: flex;
    flex-flow: column wrap;

    *+* {
        margin-top: em(15px);
    }
}

.form-control {
    &.error {
        border: red solid em(2px);
    }

    &__error-text {
        color: red;
        display: block;
    }
}

.input-group{
    display: flex;
    flex-flow: column wrap;

    *+* {
        margin-top: em(5px);
    }
}

