.mobile-navigation{
    $wrapper-padding: 1em;
    @include list-no-style();
    @include nav(column, $color-mobile-navigation-text, $color-mobile-navigation-background, 
                (em(3px) $color-mobile-navigation-separator solid));
    font-size: 1.1em;
    height: 100%;
    left: 0;
    padding: $wrapper-padding;
    position: fixed;
    top: 0;
    transition: left 600ms ease-in-out;
    width: 100%;
    z-index: get-z-index(menu);

    &#{&}--hidden {
        left: calc(-100%);
    }

    @include media(md) {
        width: 50%;
    }

    @include media(lg) {
        display: none;
    }

    i{
        border-color: $color-mobile-navigation-text;
    }

    .nav__item {
        @include button($color: $color-mobile-navigation-text, $background-color: $color-mobile-navigation-background,
                        $hover-color: $color-brand, $active: false);
        line-height: 4;
        letter-spacing: 0.1em;
    }

    &__item ~  &__item{
        margin-top: em(10px);
    }

    &__close-bttn{
        @include button($color: $color-mobile-navigation-text, $background-color: $color-mobile-navigation-background, 
                        $hover-color: $color-mobile-navigation-background-hover, $active: false);
        float: right;
        font-size: 1.5em;
        padding: em(3px) em(10px);
    }

    &__header{
        flex: 0;
        height: $height-mobile-navigation-header;
        line-height: $height-mobile-navigation-header;
        text-align: center;
    }

    &__section ~ &__section{
        margin-top: em(10px);
    }

    &__sub-navigation{
        cursor: auto;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 500ms ease-in-out;
        width: 100%;
        z-index: get-z-index(menu) + 10;

        &--hidden{
            transform: translateX(100%);
        }
    }

    &__body{
        background-color: $color-mobile-navigation-background;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100%;
        scrollbar-width: $width-scrollbar;
        scrollbar-color: rgba(255, 255, 255, 0.785) $color-mobile-navigation-background;
    }

    &__root{
        margin-top: 1em;
        position: relative;
    }
}