@mixin nav($direction: row, $color: null, $bg-color: null, $border:null){
    @if($bg-color) {
        background-color: $bg-color;
    } 
    @if(color) {
        color: $color;
    }
    display: flex;
    align-items: stretch;
    flex-direction: $direction;
    
    @if($border){
        .nav__item ~ .nav__item{
            @if $direction == column {
                border-top: $border;
            }
            @else{
                border-left: $border;
            }
            
        }
    }
    
    a{
        @include link-style($color: inherit, $hover-decoration: none);
        // display: block;
    }

    *{
        font-size: inherit;
    }
}
