*, *:before, *:after {
  box-sizing: border-box;
}

body, nav, ul, ol {
  margin: 0;
}

button {
  padding: 0;
}

button > * {
  pointer-events: none;
}

.row {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% + 1.25rem);
  margin-left: -1.25rem;
}
.row * {
  flex-grow: 0;
}

@media screen and (min-width: 0em) {
  .col-sm-0 {
    margin-left: 1.25rem;
  }
}
@media screen and (min-width: 0em) and (max-width: 48em) {
  .col-sm-0 {
    display: none !important;
  }
}

@media screen and (min-width: 0em) {
  .col-sm-1 {
    margin-left: 1.25rem;
    width: calc(8.3333333333% - 1.25rem);
  }
}

@media screen and (min-width: 0em) {
  .col-sm-2 {
    margin-left: 1.25rem;
    width: calc(16.6666666667% - 1.25rem);
  }
}

@media screen and (min-width: 0em) {
  .col-sm-3 {
    margin-left: 1.25rem;
    width: calc(25% - 1.25rem);
  }
}

@media screen and (min-width: 0em) {
  .col-sm-4 {
    margin-left: 1.25rem;
    width: calc(33.3333333333% - 1.25rem);
  }
}

@media screen and (min-width: 0em) {
  .col-sm-5 {
    margin-left: 1.25rem;
    width: calc(41.6666666667% - 1.25rem);
  }
}

@media screen and (min-width: 0em) {
  .col-sm-6 {
    margin-left: 1.25rem;
    width: calc(50% - 1.25rem);
  }
}

@media screen and (min-width: 0em) {
  .col-sm-7 {
    margin-left: 1.25rem;
    width: calc(58.3333333333% - 1.25rem);
  }
}

@media screen and (min-width: 0em) {
  .col-sm-8 {
    margin-left: 1.25rem;
    width: calc(66.6666666667% - 1.25rem);
  }
}

@media screen and (min-width: 0em) {
  .col-sm-9 {
    margin-left: 1.25rem;
    width: calc(75% - 1.25rem);
  }
}

@media screen and (min-width: 0em) {
  .col-sm-10 {
    margin-left: 1.25rem;
    width: calc(83.3333333333% - 1.25rem);
  }
}

@media screen and (min-width: 0em) {
  .col-sm-11 {
    margin-left: 1.25rem;
    width: calc(91.6666666667% - 1.25rem);
  }
}

@media screen and (min-width: 0em) {
  .col-sm-12 {
    margin-left: 1.25rem;
    width: calc(100% - 1.25rem);
  }
}

@media screen and (min-width: 48em) {
  .col-md-0 {
    margin-left: 1.25rem;
  }
}
@media screen and (min-width: 48em) and (max-width: 80em) {
  .col-md-0 {
    display: none !important;
  }
}

@media screen and (min-width: 48em) {
  .col-md-1 {
    margin-left: 1.25rem;
    width: calc(8.3333333333% - 1.25rem);
  }
}

@media screen and (min-width: 48em) {
  .col-md-2 {
    margin-left: 1.25rem;
    width: calc(16.6666666667% - 1.25rem);
  }
}

@media screen and (min-width: 48em) {
  .col-md-3 {
    margin-left: 1.25rem;
    width: calc(25% - 1.25rem);
  }
}

@media screen and (min-width: 48em) {
  .col-md-4 {
    margin-left: 1.25rem;
    width: calc(33.3333333333% - 1.25rem);
  }
}

@media screen and (min-width: 48em) {
  .col-md-5 {
    margin-left: 1.25rem;
    width: calc(41.6666666667% - 1.25rem);
  }
}

@media screen and (min-width: 48em) {
  .col-md-6 {
    margin-left: 1.25rem;
    width: calc(50% - 1.25rem);
  }
}

@media screen and (min-width: 48em) {
  .col-md-7 {
    margin-left: 1.25rem;
    width: calc(58.3333333333% - 1.25rem);
  }
}

@media screen and (min-width: 48em) {
  .col-md-8 {
    margin-left: 1.25rem;
    width: calc(66.6666666667% - 1.25rem);
  }
}

@media screen and (min-width: 48em) {
  .col-md-9 {
    margin-left: 1.25rem;
    width: calc(75% - 1.25rem);
  }
}

@media screen and (min-width: 48em) {
  .col-md-10 {
    margin-left: 1.25rem;
    width: calc(83.3333333333% - 1.25rem);
  }
}

@media screen and (min-width: 48em) {
  .col-md-11 {
    margin-left: 1.25rem;
    width: calc(91.6666666667% - 1.25rem);
  }
}

@media screen and (min-width: 48em) {
  .col-md-12 {
    margin-left: 1.25rem;
    width: calc(100% - 1.25rem);
  }
}

@media screen and (min-width: 80em) {
  .col-lg-0 {
    margin-left: 1.25rem;
  }
}
@media screen and (min-width: 80em) and (max-width: none) {
  .col-lg-0 {
    display: none !important;
  }
}

@media screen and (min-width: 80em) {
  .col-lg-1 {
    margin-left: 1.25rem;
    width: calc(8.3333333333% - 1.25rem);
  }
}

@media screen and (min-width: 80em) {
  .col-lg-2 {
    margin-left: 1.25rem;
    width: calc(16.6666666667% - 1.25rem);
  }
}

@media screen and (min-width: 80em) {
  .col-lg-3 {
    margin-left: 1.25rem;
    width: calc(25% - 1.25rem);
  }
}

@media screen and (min-width: 80em) {
  .col-lg-4 {
    margin-left: 1.25rem;
    width: calc(33.3333333333% - 1.25rem);
  }
}

@media screen and (min-width: 80em) {
  .col-lg-5 {
    margin-left: 1.25rem;
    width: calc(41.6666666667% - 1.25rem);
  }
}

@media screen and (min-width: 80em) {
  .col-lg-6 {
    margin-left: 1.25rem;
    width: calc(50% - 1.25rem);
  }
}

@media screen and (min-width: 80em) {
  .col-lg-7 {
    margin-left: 1.25rem;
    width: calc(58.3333333333% - 1.25rem);
  }
}

@media screen and (min-width: 80em) {
  .col-lg-8 {
    margin-left: 1.25rem;
    width: calc(66.6666666667% - 1.25rem);
  }
}

@media screen and (min-width: 80em) {
  .col-lg-9 {
    margin-left: 1.25rem;
    width: calc(75% - 1.25rem);
  }
}

@media screen and (min-width: 80em) {
  .col-lg-10 {
    margin-left: 1.25rem;
    width: calc(83.3333333333% - 1.25rem);
  }
}

@media screen and (min-width: 80em) {
  .col-lg-11 {
    margin-left: 1.25rem;
    width: calc(91.6666666667% - 1.25rem);
  }
}

@media screen and (min-width: 80em) {
  .col-lg-12 {
    margin-left: 1.25rem;
    width: calc(100% - 1.25rem);
  }
}

html {
  scroll-padding-top: 70px;
}

.App {
  display: flex;
  flex-flow: column;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  height: 100vh;
  line-height: 1.5;
}

.page-container {
  padding: 0 0.625em;
}
@media screen and (min-width: 48em) {
  .page-container {
    padding: 0 2.5em;
  }
}
@media screen and (min-width: 80em) {
  .page-container {
    padding: 0 7.5em;
  }
}

.content {
  flex: 1;
}

main a {
  text-decoration-line: none;
  color: #aa00ff;
  display: inline;
}
main a:hover {
  text-decoration-line: underline;
}

.footer {
  background-color: #660099;
  color: white;
  margin-top: auto;
  min-width: fit-content;
}
.footer a {
  text-decoration-line: none;
  color: inherit;
  display: inline;
}
.footer a:hover {
  text-decoration-line: underline;
}

.footer__container {
  padding: 1em 0;
}

.top-banner {
  display: none;
}
@media screen and (min-width: 48em) {
  .top-banner {
    display: block;
    height: 25em;
  }
}
.top-banner .arrow {
  padding: 1rem;
}

p:target {
  border: 5px solid yellow;
  color: yellow;
}

.button {
  background-color: #d9d9d9;
  border: 0;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  padding: 0.3125em;
}
.button:hover {
  background-color: #f2f2f2;
  color: auto;
  transition: background-color 300ms 0s ease;
}
.button:active {
  background-color: #d9d9d9;
  color: auto;
  transition: none;
}

.button--primary {
  background-color: #660099;
  border: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 0.3125em;
}
.button--primary:hover {
  background-color: #440066;
  color: white;
  transition: background-color 300ms 0s ease;
}
.button--primary:active {
  background-color: #220033;
  color: white;
  transition: none;
}

.arrow {
  border: solid black;
  border-width: 0 3px 0.1875em 0;
  display: inline-block;
  padding: 0.3125em;
}
.arrow.down {
  margin-top: -0.3125em;
}
.arrow.left {
  margin-right: -0.3125em;
}
.arrow.right {
  margin-left: -0.3125em;
}
.arrow.up {
  margin-bottom: -0.3125em;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.message {
  color: black;
  background-color: #f2f2f2;
  border: 0.125em solid #b3b3b3;
  border-radius: 0.1875em;
  padding: 0.4375em;
}
.message--error {
  color: #cc0000;
  background-color: #ffe6e6;
  border-color: #ff9999;
}
.message--success {
  color: #226600;
  background-color: #eeffe6;
  border-color: #66cc33;
}

.accordion {
  width: 100%;
}

.accordion__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.accordion__header i {
  margin: 0 1em;
}

.accordion__pane {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  background-image: url("/src/images/image-not-found.png");
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__text {
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  left: auto;
  position: absolute;
  right: 0;
  text-align: right;
  top: auto;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.07em;
  padding: 1em 1em;
}

.banner__text__title {
  display: block;
  font: larger;
  font-weight: bolder;
  margin: 0 0 1.5em 0;
}

.breadcrumbs {
  padding: 1em 0;
  border-bottom: 1px solid #440066;
}
.breadcrumbs ul, .breadcrumbs ol {
  list-style-type: none;
  padding: 0;
}
.breadcrumbs ul .crumb, .breadcrumbs ol .crumb {
  display: inline-block;
}
.breadcrumbs ul .crumb a::afer, .breadcrumbs ol .crumb a::afer {
  content: ">";
  display: inline-block;
  font-size: 80%;
  font-weight: bold;
  padding: 0 0.2em;
}

.carousel {
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}
.carousel ol {
  list-style: none;
  padding-left: 0;
  transition: transform 400ms ease-in-out;
}

.carousel__button {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  color: black;
  cursor: pointer;
  text-decoration: none;
  top: 0;
  flex-grow: 0;
  padding: 0.5em;
  position: absolute;
  width: 3rem;
  height: 4rem;
  margin: 7rem 1rem;
  z-index: 50;
}
.carousel__button:hover {
  background-color: rgba(255, 255, 255, 0.681);
  color: auto;
  transition: background-color 300ms 0s ease;
}
.carousel__button--prev {
  left: 0;
}
.carousel__button--next {
  right: 0;
}

.carousel__item {
  display: inline-block;
  height: 25em;
  width: 100%;
  margin: 0;
}

.form {
  display: flex;
  flex-flow: column wrap;
}
.form * + * {
  margin-top: 0.9375em;
}

.form-control.error {
  border: red solid 0.125em;
}
.form-control__error-text {
  color: red;
  display: block;
}

.input-group {
  display: flex;
  flex-flow: column wrap;
}
.input-group * + * {
  margin-top: 0.3125em;
}

.nav-vertical {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.nav-vertical a {
  text-decoration-line: none;
  color: inherit;
  display: inline-block;
}
.nav-vertical a:hover {
  text-decoration-line: none;
}
.nav-vertical * {
  font-size: inherit;
}

.nav-horizontal {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.nav-horizontal a {
  text-decoration-line: none;
  color: inherit;
  display: inline-block;
}
.nav-horizontal a:hover {
  text-decoration-line: none;
}
.nav-horizontal * {
  font-size: inherit;
}

.mobile-navigation {
  background-color: #440066;
  color: white;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-size: 1.1em;
  height: 100%;
  left: 0;
  padding: 1em;
  position: fixed;
  top: 0;
  transition: left 600ms ease-in-out;
  width: 100%;
  z-index: 800;
}
.mobile-navigation .nav__item ~ .nav__item {
  border-top: 0.1875em #660099 solid;
}
.mobile-navigation a {
  text-decoration-line: none;
  color: inherit;
  display: inline-block;
}
.mobile-navigation a:hover {
  text-decoration-line: none;
}
.mobile-navigation * {
  font-size: inherit;
}
.mobile-navigation.mobile-navigation--hidden {
  left: -100%;
}
@media screen and (min-width: 48em) {
  .mobile-navigation {
    width: 50%;
  }
}
@media screen and (min-width: 80em) {
  .mobile-navigation {
    display: none;
  }
}
.mobile-navigation i {
  border-color: white;
}
.mobile-navigation ul {
  list-style: none;
  padding-left: 0;
}
.mobile-navigation .nav__item {
  background-color: #440066;
  border: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
  line-height: 4;
  letter-spacing: 0.1em;
}
.mobile-navigation .nav__item:hover {
  background-color: #660099;
  color: white;
  transition: background-color 300ms 0s ease;
}
.mobile-navigation__item ~ .mobile-navigation__item {
  margin-top: 0.625em;
}
.mobile-navigation__close-bttn {
  background-color: #440066;
  border: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
  float: right;
  font-size: 1.5em;
  padding: 0.1875em 0.625em;
}
.mobile-navigation__close-bttn:hover {
  background-color: #660099;
  color: white;
  transition: background-color 300ms 0s ease;
}
.mobile-navigation__header {
  flex: 0;
  height: 2em;
  line-height: 2em;
  text-align: center;
}
.mobile-navigation__section ~ .mobile-navigation__section {
  margin-top: 0.625em;
}
.mobile-navigation__sub-navigation {
  cursor: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 500ms ease-in-out;
  width: 100%;
  z-index: 810;
}
.mobile-navigation__sub-navigation--hidden {
  transform: translateX(100%);
}
.mobile-navigation__body {
  background-color: #440066;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.785) #440066;
}
.mobile-navigation__root {
  margin-top: 1em;
  position: relative;
}

.page-header {
  background-color: #660099;
  color: white;
  height: 70px;
  font-size: 1.125em;
  letter-spacing: 0.0625em;
  line-height: 70px;
  position: sticky;
  top: 0px;
  z-index: 900;
}
.page-header a {
  text-decoration-line: none;
  color: inherit;
  display: inline-block;
}
.page-header a:hover {
  text-decoration-line: none;
}
.page-header__container {
  align-items: stretch;
  flex-wrap: wrap;
}
@media screen and (min-width: 48em) {
  .page-header__container {
    flex-wrap: nowrap;
  }
}
.page-header__hamburger {
  color: inherit;
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: block;
  padding: 0;
}
@media screen and (min-width: 80em) {
  .page-header__hamburger {
    display: none;
  }
}
.page-header__logo {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.page-header__logo__link {
  text-decoration-line: none;
  color: inherit;
  display: inline-block;
  height: 100%;
}
.page-header__logo__link:hover {
  text-decoration-line: none;
}
.page-header__right {
  justify-content: flex-end;
  display: flex;
  flex-flow: row nowrap;
}
.page-header__right__item {
  padding-left: 0.625em;
}

.side-nav-desktop {
  background-color: white;
  color: black;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 0;
  text-align: left;
  height: 100%;
}
.side-nav-desktop .nav__item ~ .nav__item {
  border-top: 0.0625em #c4c4c4 solid;
}
.side-nav-desktop a {
  text-decoration-line: none;
  color: inherit;
  display: inline-block;
}
.side-nav-desktop a:hover {
  text-decoration-line: none;
}
.side-nav-desktop * {
  font-size: inherit;
}
@media screen and (min-width: 80em) {
  .side-nav-desktop {
    margin-top: 2em;
    margin-bottom: 2em;
    height: auto;
  }
}
.side-nav-desktop .nav__item {
  background-color: white;
  border: 0;
  color: black;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.7;
}
.side-nav-desktop .nav__item:hover {
  background-color: #e6e6e6;
  color: auto;
  transition: background-color 300ms 0s ease;
}

.top-nav {
  background-color: #660099;
  color: white;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: smaller;
  font-weight: bold;
  justify-content: stretch;
  text-align: center;
  white-space: nowrap;
}
.top-nav a {
  text-decoration-line: none;
  color: inherit;
  display: inline-block;
}
.top-nav a:hover {
  text-decoration-line: none;
}
.top-nav * {
  font-size: inherit;
}
@media screen and (min-width: 48em) {
  .top-nav {
    font-size: large;
    justify-content: flex-end;
  }
}
.top-nav .nav__item {
  background-color: #660099;
  border: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  padding: 0 0.3125em;
}
.top-nav .nav__item:hover {
  background-color: #440066;
  color: white;
  transition: background-color 300ms 0s ease;
}
@media screen and (min-width: 48em) {
  .top-nav .nav__item {
    flex: 0;
    padding-left: 0 1.5em;
  }
}

/*# sourceMappingURL=main.css.map */
