body {
    display: flex; 
    font-family: $font-family; 
    flex-direction: column;
    height:100vh;
}

.container {
    padding: 0 $padding-page-mobile;
    width: 100%;

    @include media(tablet){
        padding: 0 $padding-page-tablet;
    };
    @include media(desktop){
        padding: 0 $padding-page-desktop;
    };
}

.content {
    @include row();
}


main {
    a {
        @include link-style();
    }

    @include span-columns($tablet: 9);
}


.footer {
    @include color($background-color: $color-brand);
    margin-top: auto;

    a {
        @include link-style($color: inherit);
    }
    
}

.footer__container{
    padding: 1em 0;
}

