.page-header {
    @include color($background-color: $color-brand);
    box-shadow: 0 em(1px) em(10px) black;
    height: $height-page-header;
    font-size: em(18px);
    letter-spacing: em(1px);
    line-height: $height-page-header;
    position: sticky;
    top: 0px;
    z-index: get-z-index(header);

    a {
        @include link-style($color: inherit, $hover-decoration: none, $display: inline-block);
    }

    &__container {
        align-items: stretch;
        flex-wrap: wrap;
    
        @include media(md) {
            flex-wrap: nowrap;
        }
    }

    &__hamburger {
        color: inherit;
        background-color: inherit;
        border: none;
        cursor: pointer;
        display: block;
        padding: 0;
    
        @include media(lg) {
            display: none;
        }
    
    }

    &__logo {
        font-family: $font-logo;
        text-align: center;

        &__link {
            @include link-style($color: inherit, $hover-decoration: none, $display: inline-block);
            height: 100%;
        }
    }

    &__right {
        justify-content: flex-end;
        display: flex;
        flex-flow: row nowrap;

        &__item {
            padding-left: em(10px);
        }
    }
}

