.side-nav-desktop {
    @include nav(column, black, white, (em(1px) $color-alt1-dark solid));
    padding: 0;
    text-align: left;
    height: 100%;

    @include media(lg) {
        margin-top: 2em;
        margin-bottom: 2em;
        height: auto;
    }

    .nav__item {
        @include button($color: black, $background-color: white, $hover-color: $color-alt1-light, $active: false);
        line-height: 1.7;
    }
}