.side-nav-mobile{
    $color: white;
    @include nav(column, $color, $color-brand-darker, (em(3px) $color-brand solid));
    height: 100%;
    padding: 1em;
    position: fixed;
    top: 0;
    transition: left 300ms;
    width: 100%;
    z-index: get-z-index(menu);

    &#{&}--hidden {
        left: calc(-100%);
    }
    
    &#{&}--visible {
        left: 0;
    }

    @include media(md){
        width: 50%;
    }

    @include media(lg){
        display: none;
    }

    &__item ~  &__item{
        margin-top: em(10px);
    }

    &__close-bttn{
        font-size: 1.5em;
        align-self: flex-end;
    }

    i{
        border-color: $color;
    }

    .nav__item {
        @include button($color: inherit, $background-color: inherit, $hover-color: $color-brand, $active: false);
        line-height: 1.7;
        letter-spacing: 0.1em;
    }

}

.side-nav-desktop {
    @include nav(column, black, white, (em(1px) $color-alt1-dark solid));
    padding: 0;
    text-align: left;
    height: 100%;

    @include media(lg) {
        margin-top: 2em;
        margin-bottom: 2em;
        height: auto;
    }

    .nav__item {
        @include button($color: black, $background-color: white, $hover-color: $color-alt1-light, $active: false);
        line-height: 1.7;
    }
}