.top-nav {
    @extend .nav-horizontal;
    flex-wrap: wrap;
    font-size: smaller;
    font-weight: bold;
    justify-content: stretch;
    text-align: center;
    white-space: nowrap;

    @include media(md) {
        font-size: large;
        justify-content: flex-end;
    }
    
}

.top-nav__item {
    @include button($color: white, $background-color: $color-brand, $active: false);
    flex: 1;
    padding: 0 0.5em;
   

    @include media(md) {
        flex: 0;
        padding-left: 0 1.5em;
    }
}