.top-nav {
        @include nav(row, black, white, ($color-alt1 3px solid));
        @include list-no-style();
        align-items: stretch;
        flex-wrap: nowrap;
        margin: em(10px) 0;
        text-align: center;
        white-space: nowrap;
        width: 100%;

    .top-nav__item {
        @include button($color: black, $background-color: white, $active: false);
        flex: 1;
        padding: em(15px) em(7px);
        position: relative;

        .nav__item__sub {
            box-shadow: 1px 1px 5px black;
            height: 0;
            left: 0;
            overflow: hidden;
            opacity: 0;
            position: absolute;
            top: 100%;
            transition: opacity 300ms ease-in-out;
            width: 100%;
            z-index: get-z-index(menu);
        }

        &:hover .nav__item__sub {
            height: auto;
            opacity: 1;
        }
    }
}


