//==================
//GLOBAL VAIRAIBLES
//==================

//browser
$rem-base: 16px;

//screen types
$breakpoints: (
    'sm': 0em,
    'md': 48em,
    'lg': 80em
);

//z-index
$layers: (
    header: 900,
    menu: 800,
    tooltip: 100,
    text: 1
);

//==================
//GRID VAIRAIBLES
//==================
$grid-columns: 12;
$grid-gap: 1.25rem;



