@mixin side-nav--extractable{
    position: fixed;
    z-index: get-z-index(menu);
    transition: left 300ms;

    &#{&}--hidden {
        left: calc(-100% - 2*$padding-page-mobile);
    }
    
    &#{&}--visible {
        left: calc(-2*$padding-page-mobile);
    }

    @include media(desktop){
        position: static;
    }
}

.side-nav {
    @include side-nav--extractable();
    //background-color: white;
    height: 100%;
    padding: 0;
    text-align: left;
    width:100%;

    @include span-columns($desktop: 3, $tablet: 7);

    
    @include media(desktop) {
        padding: 2em 0;
    }
}

.side-nav__item {
    &--level1{
        @include button($color: black, $background-color: $color-alt1-light, $hover-color: white, $active: false);
    }

    &--level2{
        @include button($color: black, $background-color: $color-alt1-dark, $hover-color: white, $active: false);
    }
}