.nav {
    display: flex;
    align-items: stretch;

    a{
        @include link-style($color: inherit, $hover-decoration: none, $display: inline-block);
    }
}

.nav__item {
    margin: 0;
    padding: 0.7em 1em;
}

.nav-horizontal {
    flex-direction: row;
}

.nav-vertical {
    flex-direction: column;
}

