@use "sass:math";
@mixin ellipsis ($max-width){
    display: inline-block;
    max-width: $max-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin color($background-color, $color: null){
    background-color: $background-color;
    @if $color != null{
        color: $color
    }
    @else{
        color: if(lightness($color: $background-color) < 50%, white, auto);
    } 
}

@mixin media($breakpoint, $mediatype: screen) {
    @media #{$mediatype} and (min-width: map-get($breakpoints, $breakpoint)){
        @content;
    }
}

@mixin link-style($color: $color-link, $hover-decoration: underline, $display: inline){
    text-decoration-line: none;
    color: $color;
    display: $display;
    &:hover{
        text-decoration-line: $hover-decoration;
    }
}

@function get-hover-background-color($color, $background-color, $diff){
    
    $hover-bg-color : $background-color;
        //if very light background, darken
        @if lightness($background-color) >= 100%-$diff{
            $hover-bg-color: darken($background-color, $diff)
        } 
        //if very dark background, lighten
        @else if lightness($background-color) <= $diff {
            $hover-bg-color: lighten($background-color, $diff)
        } 
        //if not extreme background, choose with text color
        @else{
            $hover-bg-color: if(lightness($color) > 50%, 
                                darken($background-color, $diff), 
                                lighten($background-color, $diff))
        }
        @return $hover-bg-color
}

@mixin list-no-style(){
    list-style: none;
    padding-left: 0;
}

@function em($px) {
    @return math.div($px, $rem-base)+em;
}

@function get-z-index($layer){
    @return map-get($layers, $layer);
}

@function is-relative-length($value) {
    @return is-number($value) and index('em' 'ex' 'ch' 'rem' 'vw' 'vh' 'vmin' 'vmax', unit($value)) != null;
  }
   
@function is-absolute-length($value) {
    @return is-number($value) and index('cm' 'mm' 'in' 'px' 'pt' 'pc', unit($value)) != null;
}
   
@function is-percentage($value) {
    @return is-number($value) and unit($value) == '%';
}
   
@function is-length($value) {
    @return is-relative-length($value) or is-absolute-length($value);
}
