@use "sass:math";

.row {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% + $grid-gap);
    margin-left: -$grid-gap;

    *{
        flex-grow: 0;
    }  
}

//column class generator
@each $size, $width in $breakpoints{
    @for $i from 1 through $grid-columns {
        .col-#{$size}-#{$i}{
            @media screen and (min-width: map-get($breakpoints, $size)){
                margin-left: $grid-gap;

                @if $i == $grid-columns{
                    width: 100%;
                } 
                @else {
                    width: calc($i/$grid-columns * 100% - $grid-gap);
                    
                }
                
            }  
        }
    }
}