html {
    scroll-padding-top: $height-page-header;
}

//site root container
.App{
    display: flex;
    flex-flow: column;
    font-family: $font-family; 
    height:100vh;
    line-height: 1.5;
}

.page-container {
    padding: 0 $padding-page-mobile;

    @include media(md){
        padding: 0 $padding-page-tablet;
    };
    @include media(lg){
        padding: 0 $padding-page-desktop;
    };
}

.content {
    flex: 1;
}


main {
    a {
        @include link-style();
    }
}


.footer {
    @include color($background-color: $color-brand);
    margin-top: auto;

    a {
        @include link-style($color: inherit);
    }
    min-width: fit-content;
}

.footer__container{
    padding: 1em 0;
}


.top-banner{
    display: none;

    @include media(md){
        display: block;
        height: em($height-top-banner);
    }

    .arrow {
        padding: 1rem;
    }
}

p:target{
    border: 5px solid yellow;
    color: yellow;
}


